<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unistar</title>
    <!-- <link href='./ttt.css' rel='stylesheet' type='text/css'> -->
</head>

<body>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>OPENING <span>SooN</span></h1>
            </div>
            <!-- <p>You have not allowed.</!-->
        </div>
    </div>

</body>

</html>